/* .userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  position: relative;
  height: 30rem;
  max-width: 800px;
  background-color: rgb(192, 197, 199);
  color: black;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgb(214, 208, 208);
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 2;
}

/* .userprofileview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

/* .avatar_img {
  width: 40rem;
  height: 40rem;
  margin-left: 5.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.form-control {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

/* label1 {
  margin-bottom: 2rem;
  bottom: 5rem;
  padding: -1rem;
  padding-bottom: 4rem;
  margin-right: 8px;
  margin-top: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
} */

/* input1[type="text"],
input1[type="email"],
input1[type="nickname"] {
  width: 26rem;
  height: 26px;
  margin-top: 12px;
  padding-left: 10px;
  outline: 0;
  background: var(--secondary-color);
  box-shadow: transparent 0px 0px 0px 1px inset;
  border-radius: 10px;
  border: 2px solid var(--tertiary-color);
  color: var(--text-color);
} */

/* input1[type="text"]:hover,
input1[type="email"]:hover,
input1[type="nickname"]:hover:hover {
  border: 2px var(--primary-color) solid;
  outline: none;
} */

/* .button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  width: 50%;
  text-align: center;
  margin-left: 6rem;
  margin-right: 98px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  bottom: 34rem;
  margin-top: 2rem;
}

.button:hover {
  background-color: var(--secondary-color);
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.userinput1 {
  position: relative;
}

.userinput:hover img {
  opacity: 0.5;
}

.userinput img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

/* .boton2 {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton2:hover {
  background-color: var(--primary-color);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.boton2:active {
  transform: translateY(2px);
  box-shadow: none;
}  */

/* @media (max-width: 768px) {
  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  label {
    margin-bottom: 1rem;
    font-size: 13px;
  }
  input[type="text"],
  input[type="email"],
  input[type="nickname"] {
    width: 20rem;
    height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    outline: 0;
    background: var(--secondary-color);
    box-shadow: transparent 0px 0px 0px 1px inset;
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    color: var(--text-color);
  }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="nickname"]:hover:hover {
    border: 2px var(--primary-color) solid;
    outline: none;
  }
  
  .button:hover {
    background-color: var(--secondary-color);
  }
  .button:active {
    transform: translateY(2px);
    box-shadow: none;
  }
} */ 


.usercontainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  max-width: 600px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.cartmessagecenter {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
}


.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.usercontainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.usercontainer:hover::before {
  height: 100%;
}

.usercontainer:hover {
  box-shadow: none;
}

.usercontainer:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

.avatar img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5.5rem;
  object-fit: cover;
  margin-top: 20px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: rgb(230, 3, 3);
  font-size: 13px;
}

.btnReturn {
  -webkit-text-stroke: 0.5px var(--text-stroke-color);
  --text-stroke-color: rgba(201, 196, 196, 0.733);
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 1000;
  border: solid rgba(7, 7, 0, 0.329) 1px;
  transition-duration: 1s;
  overflow: hidden;
  position: relative;
}

.btn{
  width: 20%;
  height: 2rem;
  background-color: var(--secundary-color);
  color: white;
  border: none;
  border-radius: .7rem;
  transition: 0.4s;
}

.btn:hover {
  background-color: #3b3ef6f6;
  box-shadow: 0 2px 0 2px #1111128d;
  color: #fff;
  cursor: pointer;
  transform: translateY(-2px);
}