@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.containerCarouselMarcas {
  background-color: #EEEEEE;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.containerCarouselMarcas:hover {
  transform: translateY(-20px);
  box-shadow: 0px 0px 30px 1px var(--secondary-color); 
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.863) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slidetrack {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slideLogo {
  height: 100px;
  width: 350px;
}
.slideLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideLogo:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .containerCarouselMarcas {
    margin-left: 50px;
    margin-right: 50px;
  }
  .slider {
    height: 80px;
  }
  .slider::before,
  .slider::after {
    height: 80px;
    width: 100px;
  }
  .slider .slideLogo {
    height: 80px;
    width: 250px;
  }
  .slider .slide-track {
    width: calc(250px * 14);
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 14));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-3500px);
    }
  }
}