.contAccesorios {
  background-color: #050505;
  margin-bottom: 40px;
  top: 20px;
  padding: 80px;
}

.containerAcc {
  width: 150%;
  display: flex;
  justify-content: center;
}

.rowAcc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleAcce {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}

.titleAcce h2 {
  color: rgb(253, 240, 244);
  justify-items: center;
  font-size: 40px;
}

.spanTitleAcc1 {
  color: #f4eff5;
  font-weight: bold;
  font-size: 40px;
}

.spanTitleAcc {
  color: #b2a2b3;
  font-weight: bold;
  font-size: 60px;
}

.titulo {
  display: flex;
  color: white;
  justify-content: center;
  padding: 25px;
  margin-top: 5px;
  font-size: 60px;
}

.spanTitleAcc:hover {
  filter: brightness(1.2);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px;
  max-width: 800px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(230, 204, 204, 0.932);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .containerAcc {
    width: 80%;
  }
  .titleAcce {
    margin-top: 40px;
    font-size: 40px;
  }
  .card-container {
    justify-content: space-between;
  }
}