.searchbar {
  display: flex;
  gap: 8px;
  background: rgb(255, 255, 255);
  position:relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.input {
  border: none;
  outline: none;
}

.button {
  background-color: rgb(255, 255, 255);
  border: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover{
  background-color: #ffffff2a;
  box-shadow: rgba(0,0,0,0.5) 1px 1px 1px 1px;
  transform: translateY(-1px);
}
.button:active{
  box-shadow: none;
  transform: translateY(0);
}

.input{
  border: none;
  background: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  
}
/* .button i {
  margin-right: 3px;
} */