.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 25px;
  top: -40rem;
  bottom: -30rem;
  margin-top: 5rem;
  font-size: 50px;
  color: var(--secondary-color);
}
.card1 {
  width: 300px;
  height: 300px;
  margin: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 50px var(--tertiary-color);
  transition: transform 0.5s ease, filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1:hover {
  transform: rotateY(15deg);
  filter: brightness(1.5);
}

.card1 img {
  width: 80%;
  height: 60%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card1 {
    width: 55vw;
    height: auto;
    margin: 20px 0;
    margin-bottom: 15vw;
  }
}