/* Estilos para el contenedor principal del formulario */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título del formulario */
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario y sus elementos */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .fieldset {
    margin-bottom: 15px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  