.contGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}


.contenedorCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    
}

.noCards{
    text-align: center;
    font-size: 1.5rem;
}
.contPag{
    justify-content: center;
    gap: 1rem;
    display: flex;
}

.button1{
    color: #ecf0f1;
 font-size: 17px;
 background-color: #000000c5;
 border: 1px solid #000000;
 border-radius: 5px;
 padding: 10px;
 box-shadow: 0px 6px 0px #000000c9;
 transition: all .1s;
}
.button1:active{
    box-shadow: 0px 2px 0px #000000c9;
    position: relative;
    top: 2px;  
}
.button1:disabled{
    background-color: #5e5e5ea2;
    box-shadow: 0px 2px 0px #5e5e5ea2;
    border: 1px solid #5e5e5ea2;
}

.button2{
    color: #ecf0f1;
 font-size: 17px;
 background-color: #000000c5;
 border: 1px solid #000000;
 border-radius: 5px;
 padding: 10px;
 box-shadow: 0px 6px 0px #000000c9;
 transition: all .1s;
}
.button2:active{
    box-shadow: 0px 2px 0px #000000c9;
    position: relative;
    top: 2px;  
}
.button2:disabled{
    background-color: #5e5e5ea2;
    box-shadow: 0px 2px 0px #5e5e5ea2;
    border: 1px solid #5e5e5ea2;
}