.conteiner{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(119, 112, 112, 0.945);
}

.conteiner hr{
    width: 98%;
    /* background-color: rgb(0, 179, 255); */
    border: none;
    height: 2px;
    margin-top: 0;
    margin-bottom: 10px;
}

.contNavCat{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: .5rem;
}

.volver{
    color:black;
    margin-top: 1rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: .5rem;
    margin-right: 5rem;
}

.contProducto{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

.fav{
    position: absolute;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    border-radius: 1000px;
    display: inline-block;
    transition: all .5s;
}

.fav:hover {
    transform: translateY(-3px);
   }
   
.fav:active {
    transform: translateY(-1px);
   }
   
.fav::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
.fav:hover::after {
    transform: scaleX(1.4) scaleY(1.4);
    opacity: 0;
   }


.detalles1{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}

.detalles1 h1{
    font-size: 2.5rem;
    margin: 0;
    margin-right: 2.1rem;
}
.detalles1 h3{
    margin: 0;
    font-weight: 15rem;
    color: var(--primary-color);
    font-size: 1.8rem;
}
.detalles1 h2{
    margin: 0;
    font-size: 2rem;
}

.detalles1 p{
    margin: 0;
    margin-top: .7rem;
    margin-bottom: 1rem;
    font-weight: 20px;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.detalles1 img{
  width: auto;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.detalles2{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.infoCompra{
    display: flex;
    flex-direction: column;
    /* border-left: 4px solid rgba(0, 179, 255, 0.496); */
    box-shadow: var(--secondary-color);
    width: 30%;
    margin-bottom: .5rem;
    padding-left: 1%;
    margin-left: .2rem;
    gap: 1rem;
    align-items: center;
}

.infoCompra p{
    margin: 5px;
}

.infoCompra h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 40px;
    font-size: 3rem;
    margin:2px;
    width: 90%;
    color: red;
}

.cantidad{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.cantidad button{
    width: 2.7rem;
    height: 2.7rem;
    font-size: 30px;
    background-color: rgba(198, 199, 205, 0.496);
    border-radius: 25%;
    border-color: rgba(127, 127, 127, 0.065);
}

.cantidad button:hover {
    box-shadow: 0 2px 0 1px #1111128d;
    cursor: pointer;
    transform: translateY(-1px);
  }

.cantidad button:active{
    box-shadow: 0 0 0 -1px #1111128d;
    transform: translateY(1px);
}

.agregarCarrito{
    width: 80%;
    height: 2rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: .7rem;
    transition: 0.4s;
}

.agregarCarrito:hover {
    background-color: #3b3ef6f6;
    box-shadow: 0 2px 0 2px #1111128d;
    color: #fff;
    cursor: pointer;
   
    transform: translateY(-2px);
  }

.agregarCarrito:active{
    box-shadow: 0 0 0 -1px #1111128d;
    transform: translateY(1px);
}

.comprar{
    width: 80%;
    height: 2rem;
    background-color: rgb(13, 181, 21);
    color: white;
    border: none;
    border-radius: .7rem;
    transition: 0.4s;
}

.comprar:hover {
    background-color: #26ec0ce5;
    box-shadow: 0 2px 0 2px #303a308d;
    color: #fff;
    cursor: pointer;

    transform: translateY(-2px);
  }

.comprar:active{
    box-shadow: 0 0 0 -1px #1111128d;
    transform: translateY(1px);
}

.productreviewslist {
    list-style-type: none;
    padding: 0;
  }
  
  .productreviewslist li {
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 10px;
  }
  
  .productreviewslist li p {
    margin: 0;
  }