.navbar {
	padding: 16px 16px 16px;
	margin-bottom: 27px;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--background-color);
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid var(--tertiary-color);
  }
  
  .navbar span {
	font-size: 27px;
	color: var(--secondary-color);
	display: inline-block;
	margin: 10px;
  }

.navbar span:hover {
	/* transform: translateY(-20px); */
	box-shadow: 0px 0px 10px 1px var(--secondary-color); 
  }

  navbar.name {
	height: 350px;
	font-size: 30px;
	box-shadow: 5px;
	color: rgb(221, 26, 26);
	font-weight: 15px;
	border-color: var(--secondary-color);
  }
  
  .navbar .buttons {
	margin-left: auto;
	display: flex;
	gap: 8px;
	height: 32px;
	color:var(--secondary-color);
	border-radius: 10px;
	box-shadow: var(--secondary-color);
  }
  
  .navbar .buttons a img {
	height: 100%;
	color:var(--secondary-color);
	margin-bottom: 10rem;
	box-shadow: 0 10px 10px var(--tertiary-color);
  }
  
  .navbar .buttons .cart {
	position: relative;
	color:var(--secondary-color);
  }
  
  .navbar .buttons .cart span {
	position: absolute;
	top: 18px;
	right: -6px;
	font-size: 22px;
	color: var(--text-color);
	color: var(--secondary-color);
	padding: 3px 5px;
	border-radius: 50%;
  }
  .buyContainer{
	display: grid;
	text-align: center;
	align-items: center;
    border: none;
    width: 100px;
    height: 30px;
	margin-bottom: 15px;
    background-color:rgb(68, 250, 114);
    margin-top: 20px;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
  }
  .buyContainer:hover{
	transform: scale(1.1);
	background-color: rgb(30, 197, 44); 
}
  
  @media screen and (min-width: 768px) {
	.navbar {
	  justify-content: space-between;
	  padding: 20px 5% 0;
	}
  
	.navbar .buttons {
	  margin-left: unset;
	  order: 3;
	  gap: 24px;
	  height: 16px;
	  color:var(--text-color);
	}
  
	.navbar .buttons .cart {
	  display: flex;
	  align-items: center;
	  gap: 6px;
	}
  
	.navbar .buttons .cart span {
	  position: unset;
	  font-size: 22px;
	}
  }