footer {
  background-color: var(--background-color);
  text-align: center;
  padding: 15px 0;
  margin-top: 15px; 
}
.topFooter {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 15px;
}
.topFooter .logo {
  display: inline-block;
}
.topFooter .socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
footer .topFooter > div {
  color: white;
}
footer .topFooter > div ul {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0.8;
  line-height: 16px;
}
footer .topFooter div h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .topFooter > div .contact {
  max-width: fit-content;
  margin: 0 auto;
  gap: 12px;
}
footer .topFooter > div .contact li {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .topFooter > div .contact li .address {
  color: var(--background-color);
}
footer .bottomFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  opacity: 0.8;
}
footer .bottomFooter p {
  order: 2;
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  line-height: 14px;
}
footer .bottomFooter .rightPart {
  display: flex;
  gap: 16px;
  padding: 14px 0;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  footer {
    text-align: left;
    background-color: var(--background-color);
  }
  .topFooter {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px 5% 20px;
  }
  .topFooter .socialIcons {
    justify-content: left;
    /* align-items: center; */
  }
  footer .bottomFooter {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0 5%;
  }
  footer .bottomFooter p {
    order: unset;
    width: unset;
    border-top: none;
  }
}