.Dashboard{
    width: 100%;
    display: grid;
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(180px,200px);

    .content, .content1,.content2,.content3,.content4,.content5,.content6,.content7,.content8{
        padding: 20px;
        border-radius: 10px;
        border:1px solid white
    };
    
    .content{
        grid-column: span 1;
        grid-row: span 2;
    }

    .content2{
        grid-column: span 1;
        grid-row: span 2;
    }

    .content5{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media(max-width: 850px){
    .Dashboard{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
}