.compras{
    display: flex;
    height: 100%;

    .info{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        max-width: max-content;
        margin-right: 8px;

        .title{
            font-size: 1.5rem;
            font-weight: bold;
            cursor:default;
        }

        .total{
            font-size: 2.5rem;
        }
    }

    .grafData{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .grafico{
            width: 100%;
            height: 100%;
        }
    }
}