/* Contenedor del carrito */
.cartContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Estilos de cada artículo en el carrito */
.cartContent > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Estilos de la imagen de cada artículo */
.cartContent > div > img {
  height: 20px;
  width: 20px;
}

/* Nombre del artículo */
.name {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}

/* Precio del artículo */
.price {
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
}

/* Botón de eliminar artículo */
.cart-delete-button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-delete-button:hover {
  background-color: #cc0000;
}

/* Botón de contador */
.counter-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.counter-button:hover {
  background-color: var(--secondary-color);
}

/* Total del carrito */
.cartTotal {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
}

/* Mensaje en el centro del carrito */
.cart-message-center {
  text-align: center;
  margin-top: 40px;
}

/* Total de artículos en el carrito */
.cart-items-total {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 5px;
  text-align: center;
}
