/* Carousel Principal */
.carousel-item {
  height: 65vh;
  min-height: 600px;
  /* background: no-repeat center center scroll; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.d-block {
  width: 100%;
  height: 300px !important;
}

.carousel-control-prev {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  width: 20px;
}

.carousel-control-next {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  width: 20px;
}

/* Carousel Marcas */
.titleMarcas {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

.spanTitle {
  margin-left: 10px;
  color: #6e0b0b;
  font-weight: bold;
}
.spanTitle:hover {
  filter: brightness(1.2);
}

.contImgCompra {
  border: 2px solid #fdfdfd;
  background-color: #f8f8fd;
}

.imgCompra {
  width: 75%;
  display: block;
  margin: 60px auto;
}
.imgCompra img {
  max-width: 100%;
  max-height: 100%;
}

.imgCompra img:hover {
  filter: brightness(1.2);
}

.imgArmaPC {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgArmaPC img {
  max-width: 100%;
  max-height: 100%;
}

.imgArmaPC img:hover {
  filter: brightness(1.2);
}

.logoPartners {
  /* background-color: #37373f; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoPartners img {
  max-width: 10%;
  max-height: 10%;
}

.titlePartners {
  color: white;
  margin-left: 40px;
  font-size: 25px;
}

.logoPartners img:hover {
  filter: brightness(1.2);
}

.titlePartners:hover {
  color: #1d0b69;
  filter: brightness(1.2);
}

.contPcMarcas {
  /* border: 1px solid #070707; */
  background: linear-gradient(
    184deg,
    rgb(250, 249, 249) 0%,
    rgba(255, 255, 255, 1) 76%
  );
}

/* Carousel Principal */
@media screen and (max-width: 450px) {
  .carousel-item {
    height: 65vh;
    min-height: 600px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-inner {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .d-block {
    width: 100%;
    height: 200px !important;
  }

  .carousel-control-prev {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    width: 20px;
  }

  .carousel-control-next {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    width: 20px;
  }
}

/* Imagen de compra */
@media screen and (max-width: 450px) {
  .contImgCompra {
    border: 2px solid #0a0a6d;
    background-color: #0d0d8a;
  }

  .imgCompra {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .imgCompra img {
    max-width: 100%;
    max-height: 100%;
  }

  .imgCompra img:hover {
    filter: brightness(1.2);
  }

  /* .contPcMarcas {
    background: linear-gradient(
      184deg,
      rgb(12, 12, 12) 0%,
      rgba(255, 255, 255, 1) 76%
    );
  } */
  .imgArmaPC {
    width: 150%;
    display: block;
    margin-left: 50px auto;
  }

  .imgArmaPC img {
    max-width: 100%;
    max-height: 150%;
  }

  .imgArmaPC img:hover {
    filter: brightness(1.2);
  }

  .titleMarcas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
  }

  .spanTitle {
    /* margin-left: 10px; */
    color: #3e16ad;
    font-weight: bold;
    margin-top: 15px;
  }
  .spanTitle:hover {
    filter: brightness(1.2);
  }

  .logoPartners {
  background-color: #f1f1ff;
  bottom: 0;
  margin-bottom: 60px;
  padding: 8px;
}

.logoPartners img {
  max-width: 20%;
  max-height: 20%;
  margin-right: 10px;
}

.titlePartners {
  color: white;
  font-size: 17px;
}
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: #faf6f6;
  }

  p {
    font-size: 16px;
    color: #f8f5f5;
  }
}

/* .navbar {
  background-color: #ffffff; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px;
  padding: 5px 5px;
  margin-bottom: 30px;
} */

/* Inicio de los estilos para la sección del Banner */

.banners{
  background-color: rgb(209, 5, 5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: 40rem;
}

.title2 {
  color: white;
  font-size: 50px;
}

.bannerOne{
  max-width: 1000px;
  margin: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bannerOne div {
  width: 500px;
  height: 500px;
  /* margin: 5rem; */
  transition: 0.5s;
}

.bannerOne div:hover{
  transform: translateY(-5px);
}

.a{
  color: white;
  
}

.b{
  color: white;
}

.c{
  color: white;
}

.bannerTwo{
  max-width: 1000px;
  margin: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bannerTwo div {
  width: 500px;
  height: 200px;
  /* margin: 5rem; */
  transition: 0.5s;
}

.bannerTwo div:hover{
  transform: translateY(-5px);
}

.banner {
  max-width: 45%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.imgBanner {
  display: none;
}

.banner:hover {
  -webkit-transform: translateY(50%) scale(1.1);
          transform: translateY(50%) scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(1.2) saturate(1.2);
          filter: brightness(1.2) saturate(1.2);
}

@media only screen and (max-width: 800px) {
  .banner {
    max-width: 100%;
    margin-top: 100px;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .typing-animation {
    display: none;
  }
  .landing {
    background-image: 100vh;
  }
  .imgBanner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    -webkit-transform: translateY(200px) translateX(85px);
            transform: translateY(200px) translateX(85px);
  }
}

.pcgamer {
  width: 100%;
  max-height: 100%;
  /* display: nowrap; */
  position: relative;
  top: -17rem;
  background-color: black;
  margin-top: 0;
  padding-bottom: -90rem;
}

.globo {
  width: 100%;
  background-color:rgba(0, 0, 0, 0.1);
  height: 200px;
  position: relative;
  max-width: 530px;
  display: flex;
  bottom: 600px;
  justify-content: center;
  align-items: center;
  height: 200%;
  margin: 0 auto;
}

.texto {
  position: absolute;
  background-color: rgba(236, 105, 82, 0.959); /* Fondo transparente */
  padding: 20px;
  border-radius: 10px;
  max-width: 250%; /* Ajusta según el diseño deseado */
  right: -350px;
  left: 100px;
  top: 10rem;
  margin: 250px;
  font-size: 25px;
  align-items: center;
  line-height: 1.8;
}
.textodarkMode {
  position: absolute;
  background-color: rgba(35, 35, 35, 0.331); /* Fondo transparente */
  padding: 10px;
  border-radius: 10px;
  max-width: 35%; /* Ajusta según el diseño deseado */
  right: 120px;
  top: 120px;
  margin: 20px;
  font-size: 18px;
  line-height: 1.4;
}
.imgPres {
  width: 250%;
  color:rgba(0, 0, 0, 0.1);
  height: 100%;
  max-width: 830px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.1);
}

imgPres.container {
  perspective: 1000px;
}

imgPres.wrapper {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

imgPres.wrapper:hover img {
  transform: translateZ(-50px);
}

imgPres.wrapper img {
  width: 1200px;
  max-width: 830px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, box-shadow 0.5s;
}

.globo {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-bottom: -2px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 490px;
  max-width: calc(100% - 300px); /* Ajusta según el diseño deseado */
  font-size: 38px;
  line-height: 1.6;

  /* Agrega estas propiedades para centrar el texto */
  display: flex;
  justify-content: center;
  align-items: center;
}
.globopdarkMode {
  background-color: rgba(35, 35, 35, 0.331);
  padding: 20px;
  margin-bottom: -2px;
  margin-left: 10px;
  border-radius: 10px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  height: 490px;
  max-width: calc(100% - 400px); /* Ajusta según el diseño deseado */
  font-size: 38px;
  line-height: 1.6;

  /* Agrega estas propiedades para centrar el texto */
  display: flex;
  justify-content: center;
  align-items: center;
}